# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.txt
*ttx.1
*.pyc

lib/
Scripts/
pyvenv.cfg


# Credentials
credentials.json
firebaseConfig.json
.venv/project/ecommerce/__pycache__/views.cpython-39.pyc
*.pyc
.venv/project/ecommerce/__pycache__/urls.cpython-39.pyc
.venv/project/ecommerce/__pycache__/__init__.cpython-39.pyc
.venv/project/ecommerce/__pycache__/urls.cpython-39.pyc
.venv/project/ecommerce/__pycache__/__init__.cpython-39.pyc
.venv/project/project/__pycache__/__init__.cpython-39.pyc
.venv/project/project/__pycache__/settings.cpython-39.pyc
