div.itemForm{
    padding: 2%;
}

form.itemForm{
    background-color: rgba(123, 132, 184, 0.39);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 2% 2%;
    block-size: fit-content;
    margin: auto;
    width: 50%;
}



form *.itemForm{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3.itemForm{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: black;
    font-family: 'Poppins',sans-serif;
}

label.itemForm{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
input.itemForm{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
}

::placeholder{
    color: #000000;
}
button.itemForm{
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.errorlist{
    color: rgb(189, 63, 63);
    list-style-type: none;
    border: 2px;
    border-color: #080710;
    font-family: 'Poppins',sans-serif;
    padding-top: 20px;
}

p.itemForm{
    color: #000000;
    padding-top: 20px;
    font-family: 'Poppins',sans-serif;
}
