body {
    background-color: rgb(255, 255, 255);
    font-family: 'Helvetica', 'Arial Narrow', Arial, sans-serif;
}
main{
    margin-top: 120px;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}
h4 {
    color: white;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.paradise{
    font-size: 30px !important;
}

.paradise:hover{
    background-color: white !important;
    cursor: pointer;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background: white;
    width: 220px;
    /*height: 400px;*/
    margin:10px;
    border-radius: 8px;
}

.card-image{
    background-color: rgba(255, 255, 255, 0);
    height: 230px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}


.card h2 {
    padding: 2px;
}

.card h2 span{
    text-overflow: ellipsis;
    max-width: 220px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.card p {
    padding: 5px;
}

.card a {
    background-color: #a1d5ae;
    font-size: 16px;
    padding: 5px 5px;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    width: 155px;
    border-radius: 4px;
}

.card:hover{
    cursor: pointer;
}

.card a:hover {
    background-color: #64846c;
    cursor: pointer;
    transform: scale(1.05); 
    transition: all 1s ease;
}

.inCartText {
    border: 1px solid #cdcddd;
    margin: auto;
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 25%;
    color: #2d302e;
    display: inline-block; 
}

/*Top navigation bar*/

@media (min-width:971px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 150px 130px 60px;
        grid-row: auto;
        grid-row-gap: 1px;
        align-items: center;
    }

    .grid-item-1{
        justify-self: left;
    }
    
    .grid-item-2{
        justify-self:stretch;
    }
    
    .grid-item-3{
        justify-self: right;
    }
    
    .grid-item-4{
        justify-self: right;
    }
    
    .grid-item-5{
        justify-self: right;
    }
    .grid-login{
        grid-column: span 3;
        justify-self: right;
    }
}
@media (max-width:970px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 1px;
    }
    .grid-item{
        justify-self: center;
    }

}

#navbar{
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.Topnavigationbar {
    background-color:white;
    overflow: hidden;
    max-width: 1510px;
    margin: auto;
    margin-top: 10px;    
}

.Topnavigationbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 16px ;
    text-decoration: none;
    font-size: 20px;
}

.Topnavigationbar a:hover {
    background-color: rgb(194, 196, 194);
    border-radius: 6px;
    color : black;
}


.Topnavigationbar-right a {
    float: right;
    color: black;
    text-align: center;
    padding: 10px 16px ;
    text-decoration: none;
    font-size: 17px;
}

.input-wrap {
    display: inline-block;
    position: relative;
  }
  .input-wrap > input {
    padding: 14px 6px 14px 28px;
    background-color: #63bd9f1d;
    border: 1px solid black;
    font-size: 17px;
    border-radius: 10px;
    float:none;
  }
  .input-wrap > input {
    padding: 14px 6px 14px 28px;
    background-color: #63bd9f1d;
    border: 1px solid black;
    font-size: 17px;
    border-radius: 10px;
    float:none;
  }
  .input-wrap > input:focus-visible {
    outline: none;
  }
  .input-wrap > button {
    position: absolute;
    background-color: #edf7f4;
    border: none;
    right: 1px;
    top: 1px;
    padding: 14px;
    font-size: 17px;
    border-radius: 10px;
    color: rgb(84 84 84);
    margin: 0;
  }

  .input-wrap > button:hover {
    background-color: #90b5a962;
    cursor: pointer;
  }

.searchBar{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Second nav bar style*/
.secondnavbar {
    background-color:white;
    overflow: hidden;
    max-width: 1510px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.secondnavbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.secondnavbar a:hover {
    background-color: rgb(194, 196, 194);
    border-radius: 6px;
    color : black;
}

.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown-account {
    float: right;
    overflow: hidden;
}
.dropdown .dropbutn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 10px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-account .dropbutn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    max-width: 210px;
    max-height: 600px;
    overflow-y: scroll;
    z-index: 1;
    box-shadow: 0 0 15px rgba(8,7,16,0.4);
}

.dropdown-content a {
    float: none;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.9;
    font-family: 'Helvetica', 'Arial Narrow', Arial, sans-serif;
    border-radius: 0px !important;
    width: 100%;
}


.dropdown-content a:hover {
    background-color: rgb(194, 196, 194);
}

.dropdown:hover .dropdown-content, .dropdown-account:hover .dropdown-content {
    display: block;
}

.dropdown-content::-webkit-scrollbar {
    width: 5px;
}

.dropdown-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(176, 176, 176, 0); 
}

.dropdown-content::-webkit-scrollbar-thumb {
    background: rgba(176, 176, 176); 
    border-radius: 6px;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
    background: rgba(129, 128, 128); 
}

/* Slideshow styling */
*{box-sizing:border-box}

.slideshow {
    max-width: 1480px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
    width: 100%;
    height: 700px;
}
.mySlides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Next & previous buttons */
.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius : 0 3px 3px 0;
    user-select: none;
}
/* To the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
    color:skyblue;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align:center;
}
/* Number */
.number {
    color: skyblue;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* Dots */
.dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:grey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/* Dot hover  */
.dot:hover {
    background-color:royalblue;
}

/* Animation */
.mySlides {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* Items */
/* Buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}


/* Grid */
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    display: none;
}
.show {
    display: block;
}
/* Items box styling */
.itemBox {
    position: relative;
    width: 100%;
    background-color:rgb(5, 129, 129);
    padding: 10px;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 50%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.bCaption {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.itemBox:hover .image {
    opacity: 0.3;
}
.itemBox:hover .bCaption {
    opacity: 1;
}
.bText {
    background-color: white;
    color: skyblue;
    font-size: 16px 32px;
}